<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div class='container'>
	<div class='row'>
  		
	</div>

	<div class='row' id='home-view'>
		
	</div>
	<div class='row'>
  		<div class="one third">
			
		</div>
  		<div class="one third">
			
			<img src='/images/dendarmusiken.png' alt='Den där musiken' />
			<div class="bounceInDown animated">
			<img src='/images/FriaLogo2-sm.png' alt='logo' />
			</div>
		</div>
		
	</div>

</div>



