<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div class='row padded' id="content">
	
	<div class="panel panel-default">
	  <div class="box white">
	    <div class='row'>
			<div class="one whole list-group-item active">
				<h4>Användare</h4>
			</div>
		</div>
			
	  </div>
	  <div class="box white">
	  	{{#each Users}}
	  	<div class='row'>
	  		<div class='one third padded'>
	  			<b>{{{username}}}</b>
	  		</div>
	  		<div class='one third padded'>
	  			{{{name}}}
	  		</div>
	  		<div class='one third padded'>
	  			{{{email}}}
	  		</div>
	  	</div>
	  	{{/each}}
	  </div>
	</div>

  	
</div>
